version: "3"

services:
  sensor:
    build:
      context: temperature_sensor
    environment:
      - RECEIVER_URL=http://host.docker.internal:8080/samples
      - SLEEP_TIME=5
    restart: always
    depends_on:
      - influxdb
  influxdb:
    image: influxdb:2.0
    restart: always
    ports:
      - ${INFLUXDB_HTTP_PORT}:8086
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=${INFLUXDB_INIT_MODE}
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_INIT_USERNAME}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_INIT_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_INIT_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_INIT_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_INIT_ADMIN_TOKEN}
      - INFLUXD_LOG_LEVEL=${INFLUXD_LOG_LEVEL}
      - TZ=${TZ}
    volumes:
      - ./db/data/influxdb2/conf:/etc/influxdb2
      - ./db_data:/var/lib/influxdb2
  # alpine:
  #   image: alpine:3.17.3
  #   command: sleep 300
  #   restart: always
